<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="systemRoleMapper">
	<!--表名 -->
	<sql id="tableName">
		"org_app_account_role_relation"
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		"ID",
		"NAME",
		"CODE",
		"APP_ID",
		"IS_DELETED",
		"IS_ENABLE",
		"CREATE_TIME",
		"UPDATE_TIME",
		"IS_GLOBAL"
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},
		#{NAME},
		#{CODE},
		#{APP_ID},
		#{IS_DELETED},
		#{IS_ENABLE},
		#{CREATE_TIME},
		#{UPDATE_TIME},
		#{IS_GLOBAL}
	</sql>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
</mapper>
